body{
	font-family: sans-serif;
	background-image: url('../img/company.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* navbar */
/* .navbar{
	margin: 0px;
} */

.navbar .navbar-nav li{
	padding: 5px;
}

.navbar .navbar-nav li a{
	color: #fff;
	font-weight: bold;
	font-family: Cursive;
	border-bottom: 2px solid #000;	
}

.navbar ul li a:hover{
	background-color: #fcf8e3;
	color: #8a6d3b;
	border-radius: 3px;
	border-bottom: none;
}
/* end navbar */


/* login page */
#form-login{
	margin-top: 100px;
}

.panel-heading{
	font-size: 20px;
	text-align: center;
	font-family: cursive;
	font-weight: bold;
	color: #000
}

.form-group button{
	font-family: cursive;
	font-weight: bold;
}

.form-group button:hover{
	background-color: #fcf8e3;
	color: #8a6d3b;
}

/* .panel-heading{
	text-align: center;
	font-weight: bold;
	color: black;
} */
/* end login Page */


/* admin home page */
/* end admin home page */


/* admin user page */
.daftar-user{
	margin-top: 70px;
}

.tabel-user{
	margin-top: 30px;
	padding: 20px;
	border: 2px solid #cc33ff;
	border-radius: 3px;
	background-color: #fff
}

/* end admin user page */

#section{
	background-color: #fff;
	height: 500px;
}

.jumbotron{
	background-color: #fff
}

[type=file]{
	margin-top: -25px;
}

/* .center{
	padding: 20px;
}
 */